.add {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .release {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5px;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    background: #f4f4f4;

    .release-details {
      min-width: 50%;
      display: flex;
      flex-direction: column;
      padding-right: 15px;
    }

    .release-title {
      font-weight: 700;
    }

    .release-year {
      font-style: italic;
      margin-bottom: 10px;
    }

    .release-thumb {
      width: 100px;
      height: 100px;
      border-radius: 5px;
    }
  }

}
