@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('shared.css');
@import url('header.css');
@import url('user.css');
@import url('search.css');
@import url('add.css');

body {
  width: 300px;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

a {
  color: black;
}
