@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  width: 275px;
}

h1 {
  text-align: center;
  font-size: 1.5em;
}

a {
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 3px;
  background-color: #f4f4f4;
}

.content {
  padding: 10px;
}

.title {
  text-align: center;
}

.status {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px 0;

  .user,
  .in-collection,
  in-wantlist {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}

.status .avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.discogs-logo {
  width: 30px;
  height: 30px;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;
}

.tab {
  width: 100%;
  padding: 5px;
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    cursor: pointer;
  }

  &.active {
    color: #17a34a;
    border-bottom: 1px solid #17a34a;
  }
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form-input {
  width: 100%;
  padding: 8px 15px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.loading-message {
  display: flex;
  align-items: center;
  margin: 5px auto;
}

.loading-message img {
  width: 30px;
  height: 15px;
  margin-right: 10px;
}

.error-message {
  color: red;
}

.response-message i {
  color: #17a34a;
}

.primary-button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #1db954;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.primary-button:hover {
  background-color: #17a34a;
}

.secondary-button {
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #ccc;
  color: rgb(9, 43, 11);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.secondary-button:hover {
  color: rgb(9, 43, 11);
  background-color: #d7ffe7;
}

.release-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-content: space-evenly;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #f4f4f4;
}

.release-details {
  display: flex;
  flex-direction: column;
}

.release-title {
  font-weight: 700;
}

.release-year {
  font-style: italic;
}

.release-thumb {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  justify-content: space-evenly;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background: #f4f4f4;
}

.result-details {
  width: 70%;
  padding-right: 15px;
  display: flex;
  flex-direction: column;
}

.result-title {
  font-weight: 700;
  margin-top: 10px;
}

.result-year {
  font-style: italic;
  margin-bottom: 10px;
}

.result-thumb {
  width: 30%;
  width: 75px;
  height: 75px;
  border-radius: 5px;
}

.result-added {
  color: #17a34a;
  border: 1px solid #17a34a;
}
