.search {
  display: flex;
  flex-direction: column;
  gap: 5px;

  .results {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 10px;

    .result {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      justify-content: space-evenly;
      padding: 10px;
      border-radius: 5px;
      background: #f4f4f4;

      .result-details {
        min-width: 50%;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
      }

      .result-title {
        font-weight: 700;
      }

      .result-year {
        font-style: italic;
        margin-bottom: 10px;
      }

      .result-thumb {
        width: 100px;
        height: 100px;
        border-radius: 5px;
      }

      .result-removable {
        background-color: rgb(255, 227, 227);
        border: 1px solid red;
        color: red;
      }
    }
  }

  .pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;

    .remaining-results-count {
      margin-top: 10px;
      color: #858585;
    }
  }
}
