.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.content {
  padding: 10px;
}

.title {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 10px 0;

  .tab {
    width: 100%;
    padding: 5px;
    color: black;
    text-align: center;
    font-size: 14px;
    font-weight: 500;

    &:hover {
      cursor: pointer;
    }

    &.active {
      color: #17a34a;
      border-bottom: 1px solid #17a34a;
    }
  }
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;

  .form-input {
    width: 100%;
    padding: 8px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

.primary-button {
  width: fit-content;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: #1db954;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: #17a34a;
  }
}

.secondary-button {
  width: fit-content;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #ccc;
  color: rgb(9, 43, 11);
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    color: rgb(9, 43, 11);
    background-color: #d7ffe7;
  }
}

.loading-message {
  display: flex;
  align-items: center;
  margin: 15px auto;

  img {
    width: 30px;
    height: 15px;
    margin-right: 10px;
  }
}

.response-message {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: #d7ffe7;
  color: rgb(9, 43, 11);
}

.error-message {
  margin-top: 5px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(255, 227, 227);
  color: red;
}
