.status {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 10px 0;

  .avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }

  .user,
  .in-collection,
  .in-wantlist {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
